.menu {
  background-color: $colorBlue;

  &__content {
    height: 100vh;
    box-sizing: border-box;
    padding: $topPadding 0;
  }

  &__top {
    margin-bottom: 48px;
    @include top-actions;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 48px;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    padding-bottom: 8px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;

    &:hover {
      border-color: #fff;
    }
  }

  &__call {
    display: block;
    width: max-content;

    &--phone {
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      margin-bottom: 16px;
    }

    &--action {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
    }
  }
}
